<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Running Platform" sequenceNumber="4">
<locations>
<location path="${eclipse_home}" type="Profile"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.8 -Xms256m -Xmx2048m -javaagent:\\MAGADAN\projects\EclipseE4_RCP\plugins\com.zeroturnaround.eclipse.optimizer.plugin_1.0.6/agent/eclipse-optimizer-agent.jar</vmArgs>
</launcherArgs>
</target>
