._2imt {
	overflow: hidden;
	padding-left: 32px;
	padding-right: 16px;
}
._2imt:hover {
	background-color: #f6f7f8;
}
._2ims {
	color: #b2b2b2;
	text-decoration: line-through;
}
._5tnl {
	display: inline-block;
	float: right;
	font-size: 12px;
	height: 13px;
	margin-top: 2px;
	text-align: center;
}
._2imw {
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 13px;
	margin-top: 2px;
	text-align: center;
}
._2imp {
	opacity: 1;
	transition: opacity 200ms linear;
	visibility: visible;
}
._2imq {
	opacity: 0;
	transition: visibility 200ms, opacity 200ms linear;
	visibility: hidden;
}
._be9:hover ._2imw {
	visibility: visible;
}
._2imv {
	cursor: pointer;
	margin-left: 6px;
	margin-top: -1px;
	position: absolute;
}
._2imr {
	font-size: 12px;
}
._2imu {
	overflow: hidden;
	padding-left: 10px;
	padding-right: 10px;
}
._1env {
	color: #7f7f7f;
	margin-left: 6px;
}
._589n {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-bottom: 10px;
}
._589n li {
	cursor: pointer;
}
._589n li:hover {
	background: #e9eaed;
}
._1nar {
	display: inline-block;
	float: right;
	margin-top: 1px;
}
._4t14 {
	color: #9197a3;
	margin-bottom: 8px;
}
._2dn0 {
	display: inline-block;
	width: 425px;
}
._5_l {
	color: #9197a3;
	float: right;
	font-weight: normal;
	margin-right: 12px;
	position: relative;
}
._nxe > a {
	width: 20px;
}
._nxe {
	margin-top: -3px;
}
._5v3q ._nxe {
	margin-top: 0;
}
._2_th {
	display: none;
	transition: margin-left .3s cubic-bezier(.165, .84, .44, 1);
	white-space: normal;
	width: 100%;
}
._2_th._2_tj {
	display: block;
}
._3938 {
	width: 100%;
}
._4rtc {
	padding-top: 14px;
	position: relative;
}
._5v3q ._4rtc {
	padding-top: 12px;
}
._nxj {
	border-bottom: 1px solid #e5e5e5;
	color: #9197a3;
	display: block;
	font-size: 12px;
	line-height: 15px;
	padding: 8px 0;
}
._1mrv {
	margin: -12px 0 0;
}
._nxl {
	font-size: 12px;
	line-height: 20px;
}
._440x {
	margin: 4px 8px 0 0;
}
._nxl > div {
	margin-top: 6px;
}
._nxl > div._2_ti {
	display: none;
}
._nxl > div._2_ti._2_tj {
	display: block;
}
._nxj ._nxl > div, ._2_tl ._nxj ._nxl > ._2_ti._2_tj {
	margin-top: 0;
}
._2_tl ._3938._2_tg {
	overflow: hidden;
	white-space: nowrap;
	word-wrap: normal;
}
._2_tl ._3938._2_tg ._2_th._20yh {
	display: inline-block;
	vertical-align: top;
	word-wrap: break-word;
}
._2_tl ._nxl {
	position: relative;
}
._2_tl ._nxl > div._2_ti {
	display: block;
	left: 0;
	margin-top: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity .3s;
}
._2_tl ._nxl > ._2_ti._2_tj {
	margin-top: 6px;
	opacity: 1;
	position: relative;
}
._5v3q ._3938 {
	margin-bottom: -12px;
	padding-bottom: 12px;
}
._2_tl ._nxl > div._2_ti ._2_tm {
	background-color: rgba(255, 255, 255, 0);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}
._2_tl ._nxl > div._2_ti._2_tj ._2_tm {
	display: none;
}
._170h {
	position: relative;
	white-space: nowrap;
}
._170i {
	display: inline-block;
	left: 0;
	position: relative;
	top: 0;
	transition: margin .5s;
}
._170j, ._170k {
	bottom: 0;
	margin: 0;
	position: absolute;
	top: 0;
	transition: opacity .2s, width .5s;
	width: 22px;
	z-index: 1;
}
._1owq ._170j, ._1owq ._170k {
	width: 11px;
}
._1owr ._170j, ._1owr ._170k {
	width: 16px;
}
._170j {
	left: -12px;
}
._170k {
	right: -12px;
}
._594p ._170j, ._594q ._170k {
	display: none;
}
._170n {
	height: 100%;
	opacity: 1;
	position: absolute;
}
._5aeu {
	height: 0;
}
._5aeu:hover ._170o {
	background-color: #e9eaed;
	opacity: .65;
	transition: background-color .2s, opacity .2s, width .5s;
}
._595p ._5aeu:hover ._170n, ._595p ._170n {
	opacity: 0;
	transition: opacity .0s, width .5s;
}
._170o {
	background-color: #fff;
	cursor: pointer;
	height: 100%;
	opacity: .65;
	position: absolute;
	transition: background-color .2s, opacity .2s, width .5s;
	width: 100%;
}
._4vz9 ._170n, ._4vz9 ._170o {
	height: 520px;
}
._4vz9 ._1owq ._170n, ._4vz9 ._1owq ._170o {
	height: 532px;
}
._4vz9 ._1owr ._170n, ._4vz9 ._1owr ._170o {
	height: 526px;
}
._170q {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: opacity .2s;
	vertical-align: middle;
	z-index: 2;
}
._170h:hover._3-n ._170q {
	opacity: 1;
}
._5aeu:hover ._170q {
	opacity: 1;
	transition: opacity .2s;
}
._4vz9 ._170q {
	top: 260px;
}
._170r {
	border: 1.5px solid #dfe0e4;
	padding: 8px 9px;
}
._170s {
	left: -13px;
}
._170t {
	right: -13px;
}
._5aev, ._5aew {
	display: inline-block;
	opacity: 1;
}
._594p ._5aev, ._594q ._5aew {
	display: none;
}
._5fwo ._5aev, ._5fwp ._5aew {
	opacity: 0;
}
._170x {
	margin-right: 12px;
	overflow: hidden;
	width: 426px;
}
._1owq ._170x {
	width: 448px;
}
._1owr ._170x {
	width: 438px;
}
._5jmm ._170y {
	margin-bottom: 0;
}
._595o ._170i {
	margin: 0 23px;
}
._1owq._595o ._170i {
	margin: 0 11px;
}
._1owr._595o ._170i {
	margin: 0 16px;
}
._595n ._170i {
	margin: 0 -23px;
}
._1owq._595n ._170i {
	margin: 0 -11px;
}
._1owr._595n ._170i {
	margin: 0 -16px;
}
._594u._595o ._170i, ._594r._595n ._170i {
	margin: 0;
}
._594u ._170j, ._594r ._170k {
	width: 44px;
}
._1owq._594u ._170j, ._1owq._594r ._170k {
	width: 22px;
}
._1owr._594u ._170j, ._1owr._594r ._170k {
	width: 32px;
}
._595o ._170j, ._595n ._170k {
	width: 44px;
}
._1owq._595o ._170j, ._1owq._595n ._170k {
	width: 22px;
}
._1owr._595o ._170j, ._1owr._595n ._170k {
	width: 32px;
}
._595o ._170k, ._595n ._170j {
	width: 0;
}
._1712 {
	color: #9197a3;
	display: block;
	font-size: 13px;
	line-height: 15px;
	margin: -12px 0 0;
	padding: 10px 23px 10px 0;
}
._1ifo {
	margin: -12px;
	overflow: hidden;
	padding: 12px;
}
._170x .UFICommentContent {
	white-space: normal;
}
._3-7 {
	visibility: hidden;
}
.child_was_focused ._3-7 {
	visibility: visible;
}
._1nw0 {
	margin-top: 6px;
}
._1lo2 {
	display: inline-block;
	vertical-align: middle;
}
._1lo3 {
	display: inline-block;
}
._1lo2 .composerAudienceWrapper.stat_elem {
	margin-top: 0;
}
body ._11a .highlighter {
	padding: 5px;
}
._11a .metadataFragment {
	color: #777;
}
._11a .metadataFragment .placeToken, ._11a .metadataFragment .withToken, ._11a .metadataFragment .askFriends, ._11a .metadataFragment .og_composer_object {
	color: #3b5998;
	cursor: pointer;
	position: relative;
	z-index: 2;
}
._11a .metadataFragment .withToken.weakReference {
	color: #7f7f7f;
	display: inline-block;
}
._11a .metadataFragment .placeToken:hover, ._11a .metadataFragment .withToken:hover, ._11a .metadataFragment .askFriends:hover, ._11a .metadataFragment .og_composer_object:hover {
	text-decoration: underline;
}
._1dsq {
	border-right: 1px solid #e0e0e0;
	display: inline-block;
	float: left;
	height: 31px;
	text-align: center;
}
._1dsq ._1dsr {
	display: inline-block;
	height: 30px;
	width: 29px;
}
._1dsq, ._1dsq ._1dsr {
	outline-offset: -5px;
}
._1dsq:hover {
	background-color: #e9eaed;
}
._509o, ._509o:hover {
	background-color: #f6f7f8;
	border-top: 1px solid #f2f2f2;
	margin-top: -1px;
}
._1dsv ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -182px;
}
._1dsa ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -213px;
}
._1dsw ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -120px;
}
._1dsw._1dsx ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -151px;
}
._1dss ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -306px;
	width: 29px;
}
._1dsb ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -337px;
	width: 29px;
}
._5khr ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -368px;
	width: 29px;
}
.highContrast ._5khr.selected ._1dsr:before {
	content: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	margin: -80px 0 0 0;
	position: absolute;
}
.highContrast ._5khr.selected ._1dsr {
	overflow: hidden;
	position: relative;
}
._5khr.selected ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -80px;
}
._2nkx {
	display: none;
}
.highContrast ._2nkx {
	display: block;
}
.highContrast ._1dsr {
	width: auto;
}
div._14n, div._14o {
	border: 0;
	border-top: 1px dashed #bdc7d8;
	padding: 0;
}
._14o .inputtext {
	min-width: 160px;
}
div._14n .wrap {
	border: 0;
}
div._5o9 {
	margin: 2px;
	padding: 4px;
}
div._5o9 .fofUserEdClose {
	float: right;
}
._4-jj ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -244px;
	text-align: right;
}
._4-jh ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -275px;
}
._4-jj ._5xlw {
	display: inline-block;
}
._5xlw {
	background-color: #627aad;
	border-radius: 2px;
	color: #fff;
	font-family: helvetica, arial, sans-serif;
	font-size: 10px;
	height: 13px;
	line-height: 13px;
	padding: 0 3px;
	position: relative;
	right: 1px;
}
._42i {
	border: 0;
	border-top: 1px dashed #bdc7d8;
	overflow: auto;
	padding: 0;
}
._42i.activityWithoutMentions {
	border-top: none;
}
._42i.activityWithoutMentions input.inputtext {
	padding-left: 12px;
}
div._42i .uiTypeahead {
	border: 0;
}
div._42i .uiTypeahead .wrap {
	border: 0;
}
div._42i .uiTypeahead .selected input.inputtext {
	padding-bottom: 4px;
	padding-left: 0;
}
div._42i .verbText {
	background-color: #e2e8f6;
	float: left;
	font-size: 12px;
	line-height: 1.34;
	padding: 2px 3px 0 8px;
}
div._42i.litestand .verbText {
	padding-top: 2px;
}
._2yg {
	border: 1px solid #b1bdd6;
	position: relative;
}
._2yg .composerTypeahead, ._2yg .composerTypeahead .wrap {
	border: 0;
}
._2yg .input {
	font-size: 13px;
	height: 16px;
	padding: 0;
	resize: none;
	vertical-align: bottom;
}
html ._2yg .uiMentionsInput .highlighter {
	font-size: 13px;
}
._2yg .composerTypeahead .wrap {
	padding: 5px;
}
._1dsp {
	background-color: #f6f7f8;
	border-top: 1px solid #e6e6e6;
}
._1dso {
	margin: 4px;
}
button._11b {
	padding: 0 16px;
}
._icv .audienceSelector .uiSelectorButton .uiButtonText, .fbTimelineComposerUnit ._icv .audienceSelector .uiSelectorButton .uiButtonText {
	max-width: 75px !important;
}
._2yg .uiTypeahead .textInput._1tp7:not(:focus){border:1px solid #dc3847;padding:7px 6px 0}
.focus_target.child_was_focused ._427u ._2io_ {
	display: block;
}
._1zja {
	background-color: rgba(255, 255, 255, .95);
	border: 2px dashed #7e97ba;
	border-radius: 3px;
	color: #7e97ba;
	display: none;
	font-size: 16px;
	font-weight: bold;
	height: 100%;
	left: -2px;
	position: absolute;
	text-align: center;
	top: -2px;
	width: 100%;
	z-index: 150;
}
.fbDropReady ._1zja {
	border-color: #75a3f5;
	color: #75a3f5;
}
._1zjb {
	display: table;
	height: 100%;
	width: 100%;
}
._4_9w, ._4_9x, ._4_9y, .fbWantsDragDrop.fbDropReady ._1zjd {
	display: none;
}
.fbDropReadyLink ._4_9w, .fbDropReadyPhoto ._4_9x, .fbDropReadyPhotos ._4_9y, .fbWantsDragDrop ._1zjd {
	display: table-cell;
	vertical-align: middle;
}
.fbWantsDragDrop ._1zja {
	display: block;
}
._1f84 {
	background: #e5e5e5;
	border: 1px solid;
	border-color: #d6d7da #d5d8dd #c7c8ca;
	border-radius: 3px;
	color: #373e4d;
	font-size: 14px;
	font-weight: 200;
	padding-bottom: 8px;
	padding-left: 12px;
	padding-right: 10px;
	padding-top: 8px;
	text-shadow: 0 1px #fff;
}
._5jmm ._521o {
	margin-bottom: 8px;
}
._1f86 {
	font-weight: normal;
}
._5dh8 {
	float: right;
	font-size: 10px;
}
._1f84 a {
	color: #373e4d;
	font-weight: bold;
}
._5jmm ._1f84 ._1f87 {
	display: block;
	font-size: 14px;
}
._5pau ._1f86 {
	font-weight: bold;
}
._i6m ._5pcr {
	display: none;
}
._2c44 {
	height: 0;
	left: auto;
	position: fixed;
	top: 42px;
	width: 496px;
	z-index: 100;
}
._2f6b {
	background: linear-gradient(#ffffff, #f6f7f8);
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, .18);
	border-radius: 12px;
	box-shadow: 0 1px 6px rgba(0, 0, 0, .15);
	color: #3b5998;
	cursor: pointer;
	display: table;
	line-height: 22px;
	margin: 16px auto 0 auto;
	padding: 2px 12px 0 12px;
	position: relative;
	z-index: 100;
}
._2c46 {
	margin-right: 8px;
	position: relative;
}
._489y {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -17px -231px;
	display: inline-block;
	height: 9px;
	margin-right: 8px;
	position: relative;
	width: 8px;
}
._2f6g {
	font-weight: bold !important;
}
._2vaw {
	background-color: whitesmoke;
	border-left: 1px solid #e5e5e5;
	display: table;
	height: 190px;
	white-space: normal;
	width: 137px;
}
._2vay {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}
._l91 .FriendRequestAdd, ._l91 .FriendRequestOutgoing {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100px;
}
._l91 .FriendRequestOutgoing {
	margin-left: 0;
}
._l92 {
	display: block;
}
._l95 ._l96 {
	margin-top: 5px;
	overflow: hidden;
}
._l97 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 118px;
}
._l97 ._50hf {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
._l95 {
	border-left: 1px solid #e5e5e5;
	margin-bottom: 7px;
	max-width: 118px;
	padding-left: 9px;
	padding-right: 9px;
	vertical-align: top;
	white-space: normal;
}
body .fixedScrolling {
	position: fixed !important;
}
body.fixedBody #contentCol {
	min-height: 617px;
}
body.fixedBody {
	overflow-x: hidden;
}
.fixedBody #leftCol {
	position: fixed !important;
}
.fixedBody .hideWhenFixed {
	display: none;
}
._1943 {
	margin-top: 5px;
}
._5vb_ ._1943 {
	margin: 0;
}
._293- {
	margin-top: -2px;
	padding-bottom: 0;
}
._293- td {
	vertical-align: top;
}
.pagelet ._1949 {
	border-top: solid 1px #e9eaed;
}
._194b {
	color: #9197a3;
	font-size: 11px;
	line-height: 12px;
}
.highContrastSetting ._194b {
	color: #666;
}
#rightCol .pagelet:not(:empty)~.pagelet ._1943 .uiHeader._1949{padding-bottom:8px;padding-top:10px}
#rightCol .pagelet ._1943 .uiHeader._1949 {
	padding-bottom: 8px;
}
._194s {
	color: #5890ff;
}
._194t {
	border-bottom: 1px solid #e9eaed;
	margin: 0 0 6px;
}
._194u {
	border-bottom: 1px solid #e9eaed;
	margin: 0 0 6px;
}
#rightCol .pagelet:not(:empty)~.pagelet ._194t{border:0;margin:7px 0 0}
#rightCol .pagelet:not(:empty) ._194t{border:0;margin:-4px 0 0}
._194v, ._194w {
	display: block;
	margin: 0 0 -1px;
	padding: 0 4px 1px;
}
._194v:not(._1yiw):hover,._194v._1yiw._194y:hover{background-color:#f6f7f8;cursor:pointer}
._194v._1yiw:hover {
	background-color: none;
	cursor: default;
}
._194z {
	position: relative;
}
._194- {
	bottom: -11px;
	display: block;
	left: 50%;
	margin-left: -5px;
	position: absolute;
}
._2b8y {
	display: inline-block;
	height: 16px;
	text-align: center;
	vertical-align: middle;
	width: 16px;
}
._194_ {
	height: 12px;
	vertical-align: middle;
}
._1950 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -52px;
	width: 12px;
}
._1yiw ._1950 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -26px;
}
._1951 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -13px;
	width: 16px;
}
._1yiw ._1951 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._1952 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -91px;
	width: 10px;
}
._1yiw ._1952 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -78px;
}
._1953 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -65px;
	width: 12px;
}
._1yiw ._1953 {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -39px;
}
._2emb {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -117px;
	width: 9px;
}
._1yiw ._2emb {
	background-image: url(/rsrc.php/v2/yL/r/w6_fm1K8Knw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -104px;
}
._38q3 {
	background-image: url(/rsrc.php/v2/y2/r/67g7JcLdRXw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -109px -422px;
	height: 6px;
	width: 11px;
}
.selected ._38q3 {
	background-image: url(/rsrc.php/v2/y2/r/67g7JcLdRXw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -84px -423px;
}
._293_ {
	display: block;
	margin: auto;
	position: relative;
	top: 40%;
}
#pagelet_rhc_ticker {
	margin-top: -5px;
}
#pagelet_rhc_ticker .fbFeedTicker {
	padding-top: 5px;
}
.homeFixedLayout .fbFeedTicker.fixed_elem {
	background-color: #fff;
	z-index: 2;
}
.homeFixedLayout #contentCurve {
	height: 0;
}
div#contentCol.homeFixedLayout {
	padding-top: 5px;
}
.homeFixedLayout div#contentArea {
	padding-bottom: 20px;
}
.home_right_column #pagelet_rhc_ticker {
	margin-bottom: 5px;
	margin-top: 0;
}
.home_right_column .rightColumnWrapper {
	width: 244px;
}
.sidebarMode .home_right_column #pagelet_rhc_ticker {
	margin-bottom: 0;
}
.home_right_column #pagelet_rhc_ticker .fbFeedTicker {
	padding-top: 0;
}
.sidebarMode .home_right_column #pagelet_reminders .fbReminders {
	margin: 6px 0 12px 0;
}
.home_right_column #pagelet_reminders .fbReminders {
	margin: 8px 0 10px 0;
}
.home_right_column .ego_section {
	margin-bottom: 0;
}
.home_right_column .fbFeedTicker .ticker_container:before, .home_right_column .fbFeedTicker .ticker_container:after {
	background-color: rgba(0, 0, 0, .10) !important;
	content: "";
	display: block;
	height: 1px !important;
	position: absolute;
	width: 100%;
	z-index: 2;
}
.home_right_column .forceThickLine .ticker_container:before, .home_right_column .forceThickLine .ticker_container:after {
	background-color: transparent !important;
}
.home_right_column .fbFeedTicker .ticker_container:after {
	bottom: 0;
}
.home_right_column .fbFeedTicker .fbTickerFooter {
	border-top: 3px solid #f2f2f2;
}
div.composerOpen #rightCol {
	padding-top: 40px;
}
._49nu {
	left: -9999px;
	position: absolute;
}
div._5t_y {
	margin: 0;
}
._5t_y ._55d0, ._5t_y ._1dsp {
	border-radius: 0 0 3px 3px;
}
._5t_y ._3s2r {
	border-bottom: 1px solid #e5e5e5;
	margin-left: -12px;
	margin-right: 12px;
	padding: 4px 0;
}
._5t_y ._j2b {
	border-bottom: 1px solid #e5e5e5;
	height: 21px;
	margin-left: -12px;
	margin-right: 12px;
	padding: 9px 0 2px;
}
._5t_y ._1dsl {
	border-bottom: 1px solid #e5e5e5;
	height: 26px;
	margin: 0 12px;
	padding: 4px 0 2px;
}
._5t_y ._1dsl li {
	margin-left: 5px;
	position: relative;
}
._5t_y ._1dsl li:after {
	background: #e5e5e5;
	content: '';
	height: 16px;
	left: 1px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 1px;
}
._5t_y ._1dsl li:first-child:after {
	content: none;
}
._5t_y ._9lb {
	line-height: 16px;
	padding: 5px 6px 3px 4px;
	position: relative;
}
._5t_y ._52lb {
	border-radius: 0 0 0 3px;
	overflow: hidden;
}
._5t_y li:first-child ._9lb {
	margin-left: -9px;
	padding-left: 4px;
}
._5t_y ._51z7 {
	padding-left: 22px;
}
._5t_y ._9lb:hover ._51z7 {
	text-decoration: none;
}
._5t_y ._519b ._9lb:hover {
	background-color: transparent;
}
._5t_y ._9lb:hover {
	background-color: #f6f7f8;
	border-radius: 2px;
}
html ._5t_y ._2wr, html ._5p3y ._5t_y ._2wr {
	background-image: url(/rsrc.php/v2/y2/r/67g7JcLdRXw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -194px -392px;
	height: 6px;
	left: 50%;
	margin-left: -3px;
	top: 18px;
	width: 11px;
}
.groupComposerCleanWrap ._5t_y ._mi {
	margin: 10px 4px 0 0;
}
._5t_y ._mi {
	margin: 10px 12px 0 0;
}
._5t_y ._2yg, ._5t_y ._1dsm {
	border: 0;
}
._5t_y ._1dsm .fbTabGridItem {
	height: 104px;
}
._5t_y a.fbTabGridItem {
	border: 1px solid transparent;
}
._5t_y a.fbTabGridItem:hover, ._5t_y a.fbTabGridItem:active._1dsm, ._5t_y a.fbTabGridItem:focus, div._5t_y ._1dsn a.selectOver {
	background: #f6f7f8;
	border: 1px solid #e9eaed;
	text-decoration: none;
}
._5t_y .fbTabGridItem:hover .title {
	text-decoration: none;
}
._5t_y ._2yg .input, ._5t_y ._2yg .uiMentionsInput .highlighterContent {
	font-size: 14px;
	line-height: 18px;
}
._5t_y ._2yg .input {
	height: 36px;
	padding: 8px 7px 0 7px;
}
._5t_y ._2yg._4zz- .input {
	padding-top: 18px;
}
._5t_y ._4_z2 .input, ._5t_y ._4zz- .input, ._5t_y.child_was_focused ._2yg .input {
	min-height: 63px;
}
._5t_y ._2yg .uiMentionsInput .highlighter {
	padding: 13px 5px 5px 12px;
}
._5t_y ._2yg._4zz- .uiMentionsInput .highlighter {
	padding-top: 22px;
}
._5t_y ._1dso {
	margin: 8px;
}
._5t_y ._1dsp {
	background-color: #f6f7f8;
	border-top-color: #e9eaed;
}
._5t_y ._1dsp._42jz {
	background-color: #fff;
}
._5t_y ._3qig {
	background: transparent;
}
._5t_y .composerAudienceWrapper {
	margin-top: 2px;
}
._5t_y ._1dsq {
	border-right: none;
	height: 41px;
}
._5t_y ._1dsq:hover {
	background: #f2f2f2;
}
._5t_y ._509o, ._5t_y ._509o:hover {
	background: #fff;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-top: 1px solid #fff;
	margin-left: -1px;
	margin-top: -1px;
}
._5t_y ._1dsq ._1dsr, ._5t_y ._1dsq ._1dst {
	height: 40px;
	width: 40px;
}
._5t_y ._509o ._1dsr, ._5t_y ._509o ._1dst {
	width: 39px;
}
._5t_y ._1dsu {
	left: -3px;
	position: relative;
	top: 5px;
}
._5t_y ._509o ._1dsu {
	left: -2px;
}
._5t_y ._4_z3 {
	top: 14px;
}
._5t_y ._1dsv ._1dsr {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -80px;
}
._5t_y ._1dsa ._1dsr {
	background-image: url(/rsrc.php/v2/yq/r/wij9h9AAewr.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -160px;
}
._5t_y ._1dss ._1dsr, ._5t_y ._1dst {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._5t_y ._1dsb, ._5t_y ._1dsf ._1dst {
	background-image: url(/rsrc.php/v2/yq/r/wij9h9AAewr.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -80px;
}
._5t_y ._1dsw ._1dsr {
	background-image: url(/rsrc.php/v2/y6/r/WLIT-bT-516.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._5t_y ._1dsw._1dsx ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._5t_y ._4-jj ._1dsr {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -40px;
}
._5t_y ._4-jj._4-jh ._1dsr {
	background-image: url(/rsrc.php/v2/yq/r/wij9h9AAewr.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -120px;
}
._5t_y ._4_nu ._1dsr {
	background-image: url(/rsrc.php/v2/yq/r/wij9h9AAewr.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._5t_y ._5khr ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -40px;
}
._5t_y ._21yl ._1dsr {
	background-image: url(/rsrc.php/v2/y_/r/iQsdaGgVsh8.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -80px;
}
._5t_y ._4_nu._4_na ._1dsr {
	background-image: url(/rsrc.php/v2/yq/r/wij9h9AAewr.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -40px;
}
.hasListContainer ._mp3 {
	display: none;
}
._mp3 {
	float: left;
	margin: 12px 0 0 12px;
}
._5bsm ._mp3 img {
	border-radius: 0;
}
._5bsm ._mp3 {
	position: relative;
}
._5bsm ._mp3:after {
	border: 1px solid rgba(0, 0, 0, .1);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
._5j5u {
	padding-top: 4px;
	position: relative;
	width: 398px;
}
._54bx {
	font-family: Arial, Helvetica, sans-serif;
	position: relative;
	width: 494px;
}
._5jqj .uiStreamEdgeStoryLineTx {
	left: 29px;
}
._54bz {
	display: table;
	left: 0;
	padding-left: 0;
	position: relative;
}
._5j5u .feedback {
	padding-left: 4px;
}
._5j5v .actorImage {
	padding: 4px 0 0;
}
._5j5v .content {
	display: table-cell;
	height: 32px;
	margin-top: 0;
	vertical-align: middle;
}
._5j5v .ego_action {
	margin-top: 8px;
}
._5j5v .ego_x {
	margin-top: -2px;
}
._5j5w.ego_unit {
	display: table-cell;
	float: left;
	margin: -4px 0 0;
	padding: 0;
}
._5j5w.ego_unit + ._5j5w.ego_unit {
	border-top: 0;
	margin-left: 10px;
}
._5j5w .imagewrapper {
	position: relative;
}
._5j5w .close {
	position: absolute;
	right: 0;
	top: 0;
}
._5j5w .actorImage .img {
	height: 92px;
	width: 92px;
}
._5j5w .content {
	margin-top: 4px;
	padding-bottom: 27px;
	width: 92px;
}
._5j5w .action {
	bottom: 0;
	position: absolute;
}
._54b- {
	float: left;
	padding: 12px;
	width: 470px;
}
._54b- ._5j5w.ego_unit {
	margin: 0;
	padding-top: 0;
}
._54b- ._5j5w.ego_unit + ._5j5w.ego_unit {
	border-top: 0;
	margin-left: 12px;
	padding-top: 0;
}
._54b_ {
	border-bottom: 1px solid #e9e9e9;
	padding-bottom: 10px;
	padding-top: 11px;
}
._54b_ ._54c0 {
	color: #9197a3;
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	padding-left: 12px;
	text-transform: uppercase;
}
._54b- ._5j5w .content {
	line-height: 12px;
	margin-top: -3px;
	padding-bottom: 24px;
	padding-top: 12px;
	width: 92px;
}
._54b- ._5j5w .actorImage .img {
	height: 109px;
	width: 109px;
}
._54b- ._5j5w:first-child .actorImage .img {
	width: 108px;
}
._54b- ._5j5w:last-child .actorImage .img {
	width: 108px;
}
._54b- ._5j5w .action span.uiButtonText {
	padding-bottom: 0;
	padding-top: 2px;
}
._54b- ._5j5w .action {
	bottom: 12px;
	margin-top: 12px;
	position: absolute;
}
._54b- ._5j5w a {
	border-color: #cccccc #c5c6c8 #b6b7b9;
	color: #4e5665;
}
._54bz .ego_title {
	color: #141823;
	line-height: 1.5em;
	margin-bottom: 5px;
}
._54bz .fsm {
	color: #9197a3;
	line-height: 12px;
	padding-bottom: 10px;
}
._54bx .feedback {
	font-family: Arial, Helvetica, sans-serif;
	padding-right: 12px;
	padding-top: 10px;
}
._i0y {
	border: 0;
	display: inline-block;
	height: 218px;
	margin: 0;
	padding: 0 0 0 11px;
	position: relative;
	vertical-align: top;
	width: 222px;
}
._i0y:first-child {
	border-right: 1px solid #e9e9e9;
	margin: 0;
	padding: 0 12px 0 0;
}
._i0y .close {
	position: absolute;
	right: 0;
	top: -6px;
}
._i0y:hover .ego_x {
	opacity: 1;
}
._i0y .suggestionHeader {
	margin-bottom: 5px;
}
._i0y .suggestionHeader .adjuster {
	display: inline-block;
	height: 50px;
	vertical-align: middle;
	width: 0;
}
._i0y .suggestionHeader .actorImg {
	display: inline-block;
	height: 50px;
	margin: 0 5px 0 0;
	padding: 0;
	vertical-align: top;
	width: 50px;
}
._i0y .suggestionHeader .title {
	display: inline-block;
	font-size: 13px;
	height: 50px;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 108px;
}
._i0y .suggestionHeader .title a {
	color: #4e5665;
}
._i0y .suggestionHeader .titleInner {
	display: inline-block;
	vertical-align: middle;
	width: 90px;
}
._i0y .suggestionHeader .likeButton {
	display: inline-block;
	height: 50px;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 59px;
}
._i0y .suggestionHeader .ego_action {
	display: inline-block;
	vertical-align: middle;
}
._i0y .suggestionHeader .ego_action a {
	margin-top: -6px;
}
._i0y .suggestionHeader .likeButton img {
	float: none;
	margin: 0 5px 0 0;
}
._i0y .descriptionText {
	font-family: Georgia, 'lucida grande',tahoma,verdana,arial,sans-serif;
	font-size: 13px;
}
._i0y .shareLink a {
	color: #4e5665;
}
._i0y .photoColumn {
	height: 143px;
	margin: 0;
	width: 108px;
}
._i0y .photoColumn:first-child {
	margin-right: 5px;
}
._i0y .photoImage {
	border: 1px solid #e9eaed;
	margin-bottom: 3px;
	padding: 0;
}
._i0y .videoThumb {
	height: 115px;
	width: 223px;
}
._4sv0 {
	margin-top: -3px;
	padding-top: 3px;
}
._1qby {
	margin-bottom: 10px;
}
._1hx {
	position: relative;
}
._1hx ._3en1 {
	background-color: transparent;
	border: 0;
	box-sizing: border-box;
	display: block;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	height: 100%;
	line-height: 18px;
	min-height: 69px;
	outline: 0;
	padding: 23px 12px 14px;
	resize: none;
	width: 100%;
}
._3en1::-webkit-input-placeholder {
	color: #9197a3;
}
._3en1:focus::-webkit-input-placeholder {
	color: #bdc1c9;
}
._559q {
	display: table;
	height: 115px;
	width: 100%;
}
._4gzd {
	display: table-cell;
	vertical-align: middle;
}
._4gze {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
._ei_ {
	border-top: 1px solid #e9eaed;
}
._ei_ ._3ifg {
	display: inline-block;
	margin-right: 10px;
}
._ei_ ._ej1 {
	padding: 0 16px;
	vertical-align: baseline;
}
._1slx {
	visibility: hidden;
}
.child_was_focused ._1slx {
	visibility: visible;
}
._1sly {
	display: inline-block;
	float: left;
	height: 40px;
}
._1sly:hover {
	background-color: #f2f2f2;
	cursor: pointer;
}
._1slz {
	display: inline-block;
	height: 40px;
	width: 40px;
}
._1sl- {
	background-image: url(/rsrc.php/v2/y6/r/WLIT-bT-516.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._1sl_ {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -80px;
}
._1sm0 {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -40px;
}
._1sm1 {
	background-image: url(/rsrc.php/v2/yx/r/ncmn8tPsGcc.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 0;
}
._2qdr {
	height: 80px;
	width: 124px;
}
._z1b {
	display: block;
}
._2qds {
	background-size: 100% 100%;
	border-radius: 3px;
	color: #fff;
	display: table-cell;
	height: 80px;
	margin: 0 4px 2px;
	width: 124px;
}
._2ep3 img {
	border-radius: 3px;
}
._2qdu a {
	color: #fff;
}
._2qdu a:hover {
	text-decoration: none;
}
._3et8 {
	left: 109px;
	position: relative;
	top: -77px;
}
._3et9 {
	margin-left: 40px;
	margin-top: -100px;
}
._3eta {
	border-radius: 3px;
}
._2qdr:hover {
	opacity: .65;
	transition: .3s;
}
._bv9 {
	background-image: url(/rsrc.php/v2/y2/r/67g7JcLdRXw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -216px -392px;
	float: left;
	height: 5px;
	margin: 4px 8px 4px 4px;
	width: 9px;
}
._bva {
	padding: 2px 0;
	text-align: center;
}
._3xo9 {
	display: block;
	margin: 3px auto;
}
._2cfp tr td:not(:last-child){padding-right:6px}
._2cfq {
	margin-bottom: 6px;
}
._2cfp ._2cfq ._1m6e {
	margin-top: 0;
	opacity: 0;
}
._2cfp ._2cfq:hover ._1m6e {
	background-image: url(/rsrc.php/v2/y2/r/67g7JcLdRXw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -215px -446px;
	opacity: 1;
}
._2cfp ._2cfq ._1m6e:hover {
	background-image: url(/rsrc.php/v2/y2/r/67g7JcLdRXw.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: -226px -446px;
}
._4ua_ {
	margin-bottom: 8px;
}
._4i1z {
	background: #e9eaed;
	border: 1px solid;
	border-color: #d6d7da #d5d8dd #c7c8ca;
	border-radius: 3px;
	color: #4e5665;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 12px;
}
._2zvc {
	background-color: #f6f7f8;
	border: 1px solid #e9eaed;
	padding: 10px;
}
._2zvc ._2zvd, ._2zvc ._2zvd:hover {
	text-decoration: none;
}
._2zvc ._2zve {
	border: 1px solid #9197a3;
	border-radius: 4px;
	padding: 6px;
	white-space: nowrap;
}
._1qqn {
	position: relative;
}
._cw6 {
	margin-bottom: 8px;
	white-space: nowrap;
	word-wrap: normal;
}
._cw8 {
	overflow: hidden;
}
._cw9 {
	margin-left: -10px;
	overflow: hidden;
}
._cwb {
	float: right;
	margin-top: -40px;
	padding-right: 22px;
}
._1qqm {
	bottom: 8px;
	opacity: 1;
	position: absolute;
	top: 0;
}
._1qqn:hover ._1qqr {
	opacity: .65;
	transition: opacity .2s;
}
._vxr ._1qqm {
	opacity: 0;
	transition: opacity .0s;
}
._1qqr {
	background-color: #e9eaed;
	bottom: 0;
	cursor: pointer;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity .2s;
	width: 100%;
}
._1qqt {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 12;
}
._1qqu {
	border: 1.5px solid #dfe0e4;
	padding: 8px 9px;
}
._1qqv {
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	width: 70px;
	z-index: 11;
}
._1qqw {
	left: 0;
	margin: 0;
	overflow: hidden;
	position: absolute;
	width: 33px;
	z-index: 11;
}
._vxs ._1qqv {
	width: 33px;
}
._1qqy {
	left: -2px;
}
._1qqz {
	right: -2px;
}
._vxv ._1qq_ {
	left: 0;
}
._vxw ._1qr1 {
	right: 0;
}
._vxv ._1qq_, ._vxw ._1qr1 {
	height: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
}
._vxt ._1qqw, ._vxu ._1qqv {
	display: none;
}
._vxt ._1qq_, ._vxu ._1qr1 {
	display: none;
}
._397t {
	margin-left: 110px;
	margin-right: 5px;
	position: absolute;
}
._5pbu {
	position: relative;
}
._5v3q ._5pbu {
	margin: 0 -12px;
}
._5mxv {
	border-top: 1px solid #e9e9e9;
	margin-top: 12px;
}
._5v3q ._5mxv {
	border-top-color: #e5e5e5;
	margin-top: 9px;
}
._5uqk {
	border: 1px solid #e5e5e5;
	border-radius: 3px;
	margin-top: 12px;
	padding: 12px;
}
._5pau {
	margin-bottom: 10px;
}
._5v3q ._5pau {
	margin-right: -1px;
	padding-left: 0;
}
._4nef .uiList .facepileAttachment {
	margin-right: 2px;
}
._vff {
	left: 0;
	margin: 12px 12px;
	position: absolute;
	top: 0;
}
._vfg {
	text-align: center;
}
._vfh {
	padding: 11px 12px 12px;
}
._37pw {
	margin: 16px 20px 16px 0;
	text-align: right;
}
._vfi {
	display: block;
	max-width: 100%;
	padding-right: 10px;
	position: relative;
}
._3vn8 {
	z-index: 10;
}
._vfj {
	color: #9197a3;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 13px;
	text-align: center;
}
._vfk {
	color: #4e5665;
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 10px;
}
._vfl {
	padding-left: 7.5%;
	padding-right: 7.5%;
}
._vfn {
	color: #141823;
	font: 20px/28px "HelveticaNeue-Light","Helvetica Neue Light", "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Lucida Grande", sans-serif;
	padding: 8px 0;
}
._vfo {
	padding: 0 12px;
}
._vfo ._3t5i {
	height: 100%;
	left: 0;
	position: absolute;
	width: 100%;
}
._221g {
	font: bold 14px Helvetica, Arial, sans-serif;
	padding: 12px 8px 12px 4px;
}
._2xg1 {
	display: inline-block;
	margin-bottom: 12px;
	margin-right: 10px;
	vertical-align: bottom;
}
._1lj- {
	display: inline-block;
	font-weight: normal;
	vertical-align: bottom;
}
._5i3b {
	border-top: 1px solid #e6e6e6;
	height: 8px;
	margin-left: 12px;
	margin-right: 15px;
}
._2u7l {
	display: inline-block;
}
._2xg0 {
	position: absolute;
	right: 8px;
	top: 8px;
}
._1ljz {
	position: absolute;
	right: 14px;
}
._3oue {
	padding-left: 10px;
}
._2qgj {
	float: left;
	padding-right: 4px;
}
._1k7- {
	display: inline-block;
	margin: 4px;
	vertical-align: middle;
}
._50z0 {
	color: grey;
	display: inline-block;
}
._3umr {
	display: inline-block;
	line-height: 100%;
	margin-bottom: 12px;
	margin-left: 4px;
	margin-right: 8px;
	max-width: 220px;
	padding-left: 4px;
}
._4yb3 {
	margin-top: 5px;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}
._180_ {
	background: #f6f7f8;
	border-top: 1px solid #e9eaed;
}
._2t71 {
	color: #a9a9a9;
	font-size: 14px;
	margin: 15px 0 0 65px;
	max-width: 385px;
	position: absolute;
}
._1k7z {
	display: inline-block;
	vertical-align: middle;
	width: 85%;
}
._2t71 div._2t72 {
	font-size: 12px;
}
._180_ ._5i3b {
	border-top: none;
}
._cf1 {
	padding: 6px 4px;
}
._180_ ._1_-i {
	border-radius: 3px;
	display: inline-block;
	margin-right: 5px;
	vertical-align: middle;
	width: 90%;
}
._180_ ._1_-i:hover {
	background: #e9eaed;
	cursor: pointer;
}
._180_ ._56h- {
	display: table-cell;
	vertical-align: middle;
}
._180_ ._56h_ {
	border-left: 1px solid #dcdee3;
	display: inline-block;
	height: 25px;
	vertical-align: middle;
	width: 1px;
}
._180_ ._56i6 {
	display: inline-block;
	padding: 12px;
	vertical-align: middle;
}
._180_ ._1_-h {
	border-radius: 3px;
	display: inline-block;
	margin-left: 4px;
	vertical-align: middle;
}
._180_ ._1_-h:hover {
	background: #e9eaed;
	cursor: pointer;
}
._180_ ._50z0 {
	color: #000;
	display: table-cell;
	font-size: 14px;
	font-weight: bold;
	padding: 0 4px;
	position: relative;
	width: 400px;
}
._180_ ._50z0 div {
	display: inline-block;
}
._180_ ._50z0 .img {
	max-height: 32px;
	max-width: 32px;
	padding-right: 4px;
	vertical-align: top;
}
._180_ ._1ljz {
	margin-top: 10px;
}
._180_ ._1lj- {
	color: #9197a3;
	margin-top: 2px;
	position: relative;
}
._2yg._4zz- ._50q8 .input {
	padding-top: 10px;
}
._4zri {
	border-top: 1px solid #e6e6e6;
}
._505o {
	position: relative;
}
._505o > button {
	background-color: transparent;
	border: 0;
	bottom: 0;
	height: 27px;
	position: absolute;
	text-indent: -10000px;
}
._505n {
	left: 0;
	width: 56px;
}
._505m {
	left: 56px;
	width: 32px;
}
._79k {
	display: inline-block;
	position: relative;
}
._79l:after {
	border: 1px solid rgba(0, 0, 0, .05);
	bottom: 0;
	content: '';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
._79m, ._79m:after {
	border-radius: 2px;
}
._79k ._79n {
	display: block;
}
.sp_MGZT5CTTo_8.sx_4314c5 {
	background-position: 0 0;
}
.sp_MGZT5CTTo_8.sx_668f35 {
	background-position: 0 -40px;
}
.sp_MGZT5CTTo_8.sx_5bb650 {
	background-position: 0 -80px;
}
.sp_MGZT5CTTo_8.sx_0de2b9 {
	background-position: 0 -120px;
}
.sp_MGZT5CTTo_8.sx_b3f015 {
	background-position: 0 -160px;
}
.sp_ZcbMzoNMYmr.sx_06d52c {
	background-position: 0 0;
}
.sp_ZcbMzoNMYmr.sx_5ba9fe {
	background-position: 0 -17px;
}
.sp_j32ENmJEC0l.sx_3e3e55 {
	background-position: 0 -57px;
}
.sp_j32ENmJEC0l.sx_6d9b69 {
	background-position: 0 -74px;
}
.sp_j32ENmJEC0l.sx_f411dd {
	width: 20px;
	height: 20px;
	background-position: 0 -36px;
}
.sp_j32ENmJEC0l.sx_75b646 {
	width: 22px;
	height: 22px;
	background-position: 0 -13px;
}
.sp_j32ENmJEC0l.sx_be6220 {
	width: 12px;
	height: 12px;
	background-position: -13px 0;
}
.selected .sp_j32ENmJEC0l.sx_be6220 {
	background-position: 0 0;
}
.sp_vgPXW4qiEFS.sx_559df2 {
	width: 9px;
	background-position: 0 -104px;
}
.sp_vgPXW4qiEFS.sx_e94052 {
	width: 10px;
	background-position: 0 -78px;
}
.sp_vgPXW4qiEFS.sx_72af3a {
	background-position: 0 -26px;
}
.sp_vgPXW4qiEFS.sx_fe542b {
	width: 16px;
	background-position: 0 0;
}
.sp_vgPXW4qiEFS.sx_c91365 {
	background-position: 0 -39px;
}
.sp_vgPXW4qiEFS.sx_ae8ead {
	width: 9px;
	background-position: 0 -117px;
}
.sp_vgPXW4qiEFS.sx_70d096 {
	width: 10px;
	background-position: 0 -91px;
}
.sp_vgPXW4qiEFS.sx_9c5f6a {
	background-position: 0 -52px;
}
.sp_vgPXW4qiEFS.sx_14b5a5 {
	width: 16px;
	background-position: 0 -13px;
}
.sp_vgPXW4qiEFS.sx_3b073f {
	background-position: 0 -65px;
}
#bootloader_c_I_m {
	height: 42px;
}
.bootloader_c_I_m {
	display: block!important;
}
