<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="smapper"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="/com.senatov.smapper.plugins/com.senatov.smapper.smapperApp/css/default.css">
         </property>
         <property
               name="appName"
               value="smapper">
         </property>
         <property
               name="windowImages"
               value="/com.senatov.smapper.smapperApp/icons/16x16.gif,/com.senatov.smapper.smapperApp/icons/32x32.gif,/com.senatov.smapper.smapperApp/icons/48x48.gif,/com.senatov.smapper.smapperApp/icons/64x64.gif,/com.senatov.smapper.smapperApp/icons/128x128.gif,/com.senatov.smapper.smapperApp/icons/256x256.gif">
         </property>
         <property
               name="aboutImage"
               value="/com.senatov.smapper.smapperApp/icons/256x256.gif">
         </property>
         <property
               name="aboutText"
               value="Universal Mapper">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.senatov.smapper.bundle.PerspectiveFactory1"
            icon="icons/128x128.gif"
            id="com.senatov.smapper.bundle.perspective1"
            name="Just Perspective">
         <description>
            ssss description body text
         </description>
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="bundle.product"
            name="smapper">
      </product>
   </extension>
   <extension
         id="menu:org.eclipse.ui.main.menu"
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="com.example.test"
            name="My Common Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.senatov.smapper.splashHandlers.BrowserSplashHandler"
            id="com.senatov.smapper.splashHandlers.browser">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.senatov.smapper.product"
            splashId="com.senatov.smapper.splashHandlers.browser">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.senatov.smapper.commands.sampleCommands"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
</plugin>
