<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.senatov.smapperApp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.senatov.bundle/default.css">
         </property>
         <property
               name="appName"
               value="sMapper (c)">
         </property>
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
      </product>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.senatov.smapper.bundle.PerspectiveFactory1"
            icon="icons/128x128.gif"
            id="com.senatov.smapper.bundle.perspective1"
            name="Just Perspective">
         <description>
            ssss description body text
         </description>
      </perspective>
   </extension>
   <extension
         id="menu:org.eclipse.ui.main.menu"
         point="org.eclipse.ui.menus">
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.ui.navigator.CommonNavigator"
            icon="icons/sample.gif"
            id="com.example.test"
            name="My Common Navigator">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="com.example.test">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="com.example.test">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.example.test"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
