<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.senatov.smapperApp"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="clearPersistedState"
               value="true">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/com.senatov.smapperApp/css/default.css">
         </property>
         <property
               name="appName"
               value="com.senatov.smapperApp">
         </property>
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.senatov.smapperapp.splashHandlers.InteractiveSplashHandler"
            id="com.senatov.smapperapp.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.senatov.smapperApp.product"
            splashId="com.senatov.smapperapp.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/128x128.ico"
            id="com.senatov.smapperApp.intro">
      </intro>
      <introProductBinding
            introId="com.senatov.smapperApp.intro"
            productId="com.senatov.smapperApp.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="com.senatov.smapperApp.introConfigId"
            introId="com.senatov.smapperApp.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>

</plugin>
