<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2016 IBM Corporation and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        IBM Corporation - initial API and implementation
 -->

<plugin>
   <extension
         id="smapper.ext.application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/32x32.gif"
            thread="main"
            visible="true">
         <run
               class="com.senatov.smapperApp.Activator">
         </run>
      </application>
   </extension>
   <extension
         id="smapper.perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.senatov.smapper.bundle.PerspectiveFactory1"
            icon="icons/128x128.gif"
            id="com.senatov.smapper.bundle.perspective1"
            name="Just Perspective">
         <description>
            ssss description body text
         </description>
      </perspective>
   </extension>
   <extension
         id="products.ext.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Product for smapper">
         <property
               name="appName"
               value="Product for smapper">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/smapper.plugin1/css/default.css">
         </property>
         <property
               name="aboutImage"
               value="icons/128x128.gif">
         </property>
         <property
               name="aboutText"
               value="(c) Iakov Senatov">
         </property>
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/48x48.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="8080FF">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="smapper.ext.intro"
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="smapper.plugin1.intro">
      </intro>
      <introProductBinding
            introId="smapper.plugin1.intro"
            productId="smapper.plugin1.product">
      </introProductBinding>
   </extension>
   <extension
         id="smapper.ext.intro.config"
         point="org.eclipse.ui.intro.config">
      <config
            content="introContent.xml"
            id="smapper.plugin1.introConfigId"
            introId="smapper.plugin1.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="smapper.ext.runtime.product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Product for smapper">
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/48x48.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
         <property
               name="aboutText"
               value="(c) Iakov Senatov">
         </property>
         <property
               name="aboutImage"
               value="icons/128x128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="8080FF">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/smapper.plugin1/css/default.css">
         </property>
         <property
               name="appName"
               value="Product for smapper">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="smapper.plugin1.smapper.ext.application"
            name="Product for smapper">
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/48x48.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
         <property
               name="aboutText"
               value="(c) Iakov Senatov">
         </property>
         <property
               name="aboutImage"
               value="icons/128x128.gif">
         </property>
         <property
               name="startupForegroundColor"
               value="8080FF">
         </property>
         <property
               name="startupProgressRect"
               value="5,275,445,15">
         </property>
         <property
               name="startupMessageRect"
               value="7,252,445,20">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/smapper.plugin1/css/default.css">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="appName"
               value="Product for smapper">
         </property>
      </product>
   </extension>
</plugin>
