<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="smapper"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="icons/32x32.gif"
            thread="main"
            visible="true">
         <run
               class="com.senatov.smapperApp.Application">
         </run>
      </application>
   </extension>
   <extension
         id="perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.senatov.smapper.bundle.PerspectiveFactory1"
            icon="icons/128x128.gif"
            id="com.senatov.smapper.bundle.perspective1"
            name="Just Perspective">
         <description>
            ssss description body text
         </description>
      </perspective>
   </extension>
   <extension
         id="smapper"
         point="org.eclipse.core.runtime.products">
      <product
            application="smapper.plugin1.smapper"
            name="Smapper product">
         <property
               name="applicationCSS"
               value="platform:/plugin/smapper.plugin1/css/default.css">
         </property>
         <property
               name="Smapper App"
               value="Smapper product">
         </property>
      </product>
   </extension>
</plugin>
