<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            icon="$nl$/icons/32x32.bmp"
            thread="main"
            visible="true">
         <run
               class="com.senatov.smapperApp.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.senatov.smapperApp.Perspective"
            icon="icons/128x128.gif"
            id="smapper.perspective1"
            name="Perspective proveweise">
         <description>
            ssss description body text
         </description>
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="smapper.plugin1.application"
            name="Product for smapper">
         <property
               name="appName"
               value="Product for smapper">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/smapper.plugin1/css/default.css">
         </property>
         <property
               name="aboutImage"
               value="icons/128x128.gif">
         </property>
         <property
               name="aboutText"
               value="(c) Iakov Senatov">
         </property>
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/48x48.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
      </product>

   </extension>
   <extension
         id="splash_handler_id"
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="smapper.plugin1.splashHandlers.InteractiveSplashHandler"
            id="interactiveSplash_id">
      </splashHandler>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="Product for smapper">
         <property
               name="windowImages"
               value="icons/16x16.gif,icons/32x32.gif,icons/48x48.gif,icons/64x64.gif,icons/128x128.gif,icons/256x256.gif">
         </property>
         <property
               name="aboutText"
               value="(c) Iakov Senatov">
         </property>
         <property
               name="aboutImage"
               value="icons/128x128.gif">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/smapper.plugin1/css/default.css">
         </property>
         <property
               name="appName"
               value="Product for smapper">
         </property>
      </product>
   </extension>
 <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="smapper.plugin1.intro">
      </intro>
      <introProductBinding
            introId="smapper.plugin1.intro"
            productId="smapper.plugin1.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="smapper.plugin1.intro"
            content="introContent.xml"
            id="smapper.plugin1.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.intro.configExtension">
      <configExtension
            content="ext.xml"
            configId="smapper.plugin1.configId">
      </configExtension>
   </extension>   
</plugin>
